In [1]:
import pandas as pd
import numpy as np

In [2]:
date = pd.read_csv('orders.csv')
time = pd.read_csv('messages.csv')

In [3]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [10]:
### With out using any inbuild library 
year = date['date'].str.split('-').str[0]
year
month = date['date'].str.split('-').str[1]
month 
day = date['date'].str.split('-').str[2]
day

0      10
1      15
2      23
3      17
4      06
       ..
995    08
996    06
997    07
998    03
999    15
Name: date, Length: 1000, dtype: object

In [11]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

### Working With Dates

In [13]:
# Converting to date-time Data type 
date['date'] = pd.to_datetime(date['date'])
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [14]:
date['date'].dt.year

0      2019
1      2018
2      2018
3      2019
4      2019
       ...
995    2018
996    2018
997    2019
998    2019
999    2019
Name: date, Length: 1000, dtype: int32

In [22]:
date['date'].dt.day.unique()
date['date'].dt.day_of_week
day_name = date['date'].dt.day_name
day_name

In [ ]:

date['date'].dt.month
date['date'].dt.month_name()

0      December
1        August
2       October
3        August
4       January
         ...
995     October
996    December
997         May
998       March
999     October
Name: date, Length: 1000, dtype: object

### Extract time elpased Between Dates

In [24]:
import datetime

today = datetime.datetime.today()

today

datetime.datetime(2025, 6, 12, 11, 2, 3, 504193)

In [26]:
today - date['date']
(today - date['date']).dt.days

0      2011
1      2493
2      2424
3      2126
4      2349
       ...
995    2439
996    2380
997    2228
998    2293
999    2067
Name: date, Length: 1000, dtype: int64

In [30]:
## Months passed 
np.round((today -date['date']) / np.timedelta64(1, 'M'),0)

ValueError: Unit M is not supported. Only unambiguous timedelta values durations are supported. Allowed units are 'W', 'D', 'h', 'm', 's', 'ms', 'us', 'ns'

In [31]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [33]:
time['date'] = pd.to_datetime(time['date'])
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [34]:
time['hour'] = time['date'].dt.hour
time['min'] = time['date'].dt.minute
time['sec'] = time['date'].dt.second

In [35]:
time.head(2)

,date,msg,hour,min,sec
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0

In [37]:
time['time'] = time['date'].dt.time
time.head()

,date,msg,hour,min,sec,time
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0,00:50:00
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0,23:40:00
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0,00:21:00
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0,00:31:00
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0,23:11:00

In [38]:
today - time['date']

0     4197 days 10:12:03.504193
1     4061 days 11:22:03.504193
2     4547 days 10:41:03.504193
3     3849 days 10:31:03.504193
4     4246 days 11:51:03.504193
                 ...
995   4836 days 10:12:03.504193
996   4157 days 11:48:03.504193
997   4622 days 11:25:03.504193
998   4738 days 11:28:03.504193
999   4010 days 11:37:03.504193
Name: date, Length: 1000, dtype: timedelta64[ns]

In [39]:
(today - time['date'])/np.timedelta64(1,'s')

0      3.626575e+08
1      3.509113e+08
2      3.928993e+08
3      3.325915e+08
4      3.668971e+08
           ...
995    4.178671e+08
996    3.592073e+08
997    3.993819e+08
998    4.094045e+08
999    3.465058e+08
Name: date, Length: 1000, dtype: float64

In [40]:
(today - time['date'])/np.timedelta64(1,'m')

0      6.044292e+06
1      5.848522e+06
2      6.548321e+06
3      5.543191e+06
4      6.114951e+06
           ...
995    6.964452e+06
996    5.986788e+06
997    6.656365e+06
998    6.823408e+06
999    5.775097e+06
Name: date, Length: 1000, dtype: float64

In [41]:
(today - time['date'])/np.timedelta64(1,'h')

0      100738.200973
1       97475.367640
2      109138.684307
3       92386.517640
4      101915.850973
           ...
995    116074.200973
996     99779.800973
997    110939.417640
998    113723.467640
999     96251.617640
Name: date, Length: 1000, dtype: float64