In [1]:
import numpy as np 
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_csv('train.csv')
df.head(3)
df = df[['Age','Pclass', 'Fare', 'Survived']]

In [5]:
df.head(3)

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1

In [ ]:
df.isnull().mean()*100 
## We can't use mean to replace values because it is more than 5%

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [8]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [10]:
x
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=4)

In [13]:
knn = KNNImputer(n_neighbors=3, weights='distance')
x_train_trf = knn.fit_transform(x_train)
x_test_trf = knn.transform(x_test)

In [15]:
x_train_trf

array([[35.    ,  3.    ,  7.8958],
       [60.    ,  2.    , 39.    ],
       [36.    ,  3.    , 15.55  ],
       ...,
       [31.    ,  2.    , 10.5   ],
       [56.    ,  1.    , 30.6958],
       [32.5   ,  2.    , 30.0708]], shape=(712, 3))

In [16]:
lr = LogisticRegression()
lr.fit(x_train_trf,y_train)
y_pred = lr.predict(x_test_trf)
accuracy_score(y_test, y_pred)

0.7430167597765364

In [17]:
si = SimpleImputer()
x_train_trf2 = si.fit_transform(x_train)
x_test_trf2 = si.transform(x_test)

In [18]:
x_train_trf2

array([[30.02047368,  3.        ,  7.8958    ],
       [60.        ,  2.        , 39.        ],
       [36.        ,  3.        , 15.55      ],
       ...,
       [31.        ,  2.        , 10.5       ],
       [56.        ,  1.        , 30.6958    ],
       [32.5       ,  2.        , 30.0708    ]], shape=(712, 3))

In [19]:
lr.fit(x_train_trf2,y_train)
y_pred2 = lr.predict(x_test_trf2)
accuracy_score (y_test,y_pred2)

0.7374301675977654